.footer__section {
    margin-top: 350px;
    background: linear-gradient(var(--bg), rgba(18, 156, 190, 0.397)),
     url('../Footer/images/bg.jpg') no-repeat center/cover;
     transition: .5s;
}
.footer__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: .5s;
}
.card {
    width: 17em;
    height: 22.5em;
    background: #171717;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 55px;
  }
  
  .card span {
    font-weight: 300;
    color: white;
    text-align: center;
    display: block;
    font-size: 1em;
  }
  .card span:hover {
    font-weight: 300;
    color: rgb(0, 255, 221);
    text-align: center;
    display: block;
    font-size: 1em;
    transition: .5s;
  }
  
  .card .info {
    font-weight: 300;
    font-family: 'Roboto';
    color: white;
    display: block;
    text-align: center;
    font-size: 0.72em;
    margin: 1em;
  }
  
  .card .img {
    width: 4.8em;
    height: 4.8em;
    background: white;
    border-radius: 50px;
    margin: auto;
  }
  
  .card .share {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  
  .card a {
    color: white;
    transition: .4s ease-in-out;
  }
  
  .card a:hover {
    color: rgb(0, 255, 221);
  }
  
  .card .button {
    padding: 0.8em 1.7em;
    display: block;
    margin: auto;
    border-radius: 25px;
    border: none;
    font-weight: 300;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
  }
  
  .card .button:hover {
    background: rgb(0, 136, 136);
    color: white;
    cursor: pointer;
  }

.footer__title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}
.glass__container {
    background: rgba(16, 31, 54, 0.2); 
    padding: 30px;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    color: #fff;
  }

  @media (max-width: 710px) {
    .footer__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  @media (max-width: 430px) {
    .footer__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .glass__container {
      background: rgba(16, 31, 54, 0.2); 
      padding: 30px;
      border-radius: 40px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(20px);
      max-width: 300px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }