@import "tailwindcss";

@font-face {
  font-family: 'Caveat';
  src: url('/fonts/Caveat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #0f0f0f;
  --foreground: #ffffff;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-caveat: 'Caveat';
  --font-roboto: 'Roboto';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-caveat), var(--font-roboto);
}
